<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <listener>
  <listener-class>com.pb.project_b.InitClazz</listener-class>
 </listener>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetData</servlet-name>
  <servlet-class>com.pb.project_b.GetData</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>WriteData</servlet-name>
  <servlet-class>com.pb.project_b.WriteData</servlet-class>
 </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.pb.project_a.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>com.pb.project_a.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAnswersServlet</servlet-name>
    <servlet-class>com.pb.project_a.AddAnswersServlet</servlet-class>
  </servlet>




 <servlet-mapping>
  <servlet-name>GetData</servlet-name>
  <url-pattern>/ajax/getData</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WriteData</servlet-name>
  <url-pattern>/ajax/writeData</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ajax/manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/ajax/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswersServlet</servlet-name>
    <url-pattern>/ajax/addAnswers</url-pattern>
  </servlet-mapping>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
